@require './config'

body
  background $grey

/* Headings
-----------------------------------------------------------------------------*/
h1
  padding-bottom 10px
  border-bottom 2px solid rgba(0, 0, 0, 0.05)

h2
  border-bottom 0

/* Page
-----------------------------------------------------------------------------*/
.page
  background $grey

.content
  background #fff
  box-shadow 0 1px 2px $shadow
  border 1px solid $grey

.page-nav > .inner
  padding-top 5px
  border-top 2px solid $red

.navbar
  background $accentColor
  border-bottom 4px solid $red
  color white

  .site-name
    color white

  .links
    background $accentColor

  .nav-links a:hover
    border-bottom 1px solid white
    color white

.navbar.white
  background white
  color $accentColor
  border-bottom 1px solid $grey

  .site-name
    color $textColor

  .links
    background white

  .nav-links a:hover
    border-bottom 1px solid $accentColor
    color $accentColor

  .search-box input
    border-color darken($grey, 20%)

.content
  .full_page&
    max-width 100%

/* Sidebar
-----------------------------------------------------------------------------*/
.sidebar
  border-right 0
  box-shadow 2px 0 10px -2px $shadow

a.sidebar-link
  padding .75rem 1rem .75rem 1.25rem

  .sidebar-group &
    padding-left 1.25rem

  &.active
    background $grey

  .sidebar-sub-header &
    color lighten($textColor, 30%)
    &.active, &:hover
      color $accentColor

.sidebar-sub-headers
  a.sidebar-link
    padding-top .5rem
    padding-bottom .5rem

    &.active
      background none

@media (max-width: $MQMobile)
  .sidebar .nav-links a:hover
    color $accentColor
