.custom-block
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger
    padding .1rem 1.5rem
    border-left-width .5rem
    border-left-style solid
    margin 1rem 0
  &.tip
    background-color #f3f5f7
    border-color #03bd5b
  &.warning
    background-color rgba(255,229,100,.3)
    border-color darken(#ff9947, 35%)
    color darken(#ff9947, 70%)
    .custom-block-title
      color darken(#ff9947, 50%)
    a
      color $textColor
  &.danger
    background-color #d63626
    border-color darken(#d63626, 20%)
    color darken(#d63626, 70%)
    .custom-block-title
      color darken(#d63626, 40%)
    a
      color $textColor
