.site-name {
  font-family: "Marianne", "Evolventa", "Trebuchet MS", sans-serif;
}

/** typo **/

body {
  font-family: "Marianne", Arial;
  font-size: 17px;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Marianne", "Evolventa", "Trebuchet MS", sans-serif;
}

/** fonts **/

@font-face {
  font-family: "Marianne";
  src: url("~vuepress-theme-gouv-fr/styles/fonts/Marianne/Marianne-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Marianne";
  src: url("~vuepress-theme-gouv-fr/styles/fonts/Marianne/Marianne-Bold.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Marianne";
  src: url("~vuepress-theme-gouv-fr/styles/fonts/Marianne/Marianne-RegularItalic.otf");
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("~vuepress-theme-gouv-fr/styles/fonts/Source Sans Pro/SourceSansPro-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("~vuepress-theme-gouv-fr/styles/fonts/Source Sans Pro/SourceSansPro-Bold.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("~vuepress-theme-gouv-fr/styles/fonts/Source Sans Pro/SourceSansPro-It.otf");
  font-style: italic;
}

@font-face {
  font-family: "Evolventa";
  src: url("~vuepress-theme-gouv-fr/styles/fonts/Evolventa/Evolventa-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Evolventa";
  src: url("~vuepress-theme-gouv-fr/styles/fonts/Evolventa/Evolventa-Bold.ttf");
  font-weight: 800;
}

/** content **/

blockquote {
  color: #666;
}

.custom-block.tip {
  border-color: $accentColor;
}
